body{
     background-color: silver;
}

header{
     background-color:  rgb(81, 36, 158);
     margin:  10px;
     padding: 5;
 }

 nav{
     background-color: rgb(81, 36, 158);
     margin: 10px;
     padding: 5px;
 }

 h2{
     background-color: white;
     margin: auto;
     padding: 5px;
 }