body{
     background-color: white;
     margin: 0;
     padding: 0;
}

header{
   background-color: seagreen;
   color: white;
   text-align: center;

    }

 h1{
    background-color:  seagreen;
    margin:  0px;
    padding: 5;
    color:white;
    text-align: center;

}

 h2{
     background-color: seagreen;
     margin: 0;
     padding: 5px;
     color: white;
     text-align: center;

 }

 nav a:hover{
    background-color: seagreen;
    color: white;
    text-align: center;
   
 }

 nav a{
   text-decoration: none;
   color: white;
 }

 nav{
   background-color: black;
   margin: 0;
   padding: 0;
 }

 footer{
   background-color: black;
   text-align: center;
   color: white;
 }

 #fotográfias h3, #video h3, #poema h3 {
  color: seagreen;
  font-size: 24px;
  border-bottom: 2px solids seagreen;
  padding-bottom: 10px;
  margin-bottom: 20px;
}