header, main, article {
    /* centrando o texto */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
  }
  
  main {
      height: 90vh;
    background: purple;
  }
  
  article {
    height: 100vh;
    background: orange;
  }

  article:last-child {
    height: 100vh;
    background: black;
    color: white;
  }

  nav a:hover {
    background: #aaa;
    color: white;
}

body {
  background: #f4f4f4;
  color: #333;
}


nav a {
  padding: 20px;
  color: #333;
  text-decoration: none;
}

header {
  background: #ddd;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
  
  